#pre-order-main {
    height: 100vh;
    background: url('images/shop2.jpeg') no-repeat;
    background-size: cover;
    overflow: hidden;
    p {
        text-align: right;
        margin: 10px;
        font-size: 20px;
    }
}