<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<link rel="stylesheet" type="text/css" href="/web-fonts/css/fontiran.css" media="screen">
<link rel="stylesheet" type="text/css" href="/web-fonts/css/font-style.css" media="screen">
<link rel="stylesheet" type="text/css" href="/style.css" media="screen">

</head>
<body>
<div id="root"><%- initialMarkup -%></div>
<script type="text/javascript">
    window.initialData = <%- JSON.stringify(initialData) -%>;
  </script>
<script src="/bundle.js" charset="utf-8"></script>
<script type="text/javascript">
  window.heap=window.heap||[],heap.load=function(e,t){window.heap.appid=e,window.heap.config=t=t||{};var r=t.forceSSL||"https:"===document.location.protocol,a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=(r?"https:":"http:")+"//cdn.heapanalytics.com/js/heap-"+e+".js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n);for(var o=function(e){return function(){heap.push([e].concat(Array.prototype.slice.call(arguments,0)))}},p=["addEventProperties","addUserProperties","clearEventProperties","identify","removeEventProperty","setEventProperties","track","unsetEventProperty"],c=0;c<p.length;c++)heap[p[c]]=o(p[c])};
    heap.load("716015824");
</script>
</body>
</html> 