html, body {
  direction: rtl;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  vertical-align: baseline;
  max-width: 1024px; }

#root {
  margin: 0;
  padding: 0;
  width: 100%;
  vertical-align: baseline;
  height: 100%; }

.inline-menu {
  display: inline-flex;
  list-style-type: none;
  margin: 0.5em;
  vertical-align: baseline; }

li.header {
  padding: 1em;
  color: #8898aa;
  vertical-align: baseline;
  font-weight: bold; }

li.header:hover {
  cursor: pointer;
  color: #32325d; }

div.header {
  position: fixed;
  top: 0;
  margin: 0 auto;
  z-index: 1000;
  vertical-align: baseline;
  width: 100%;
  min-width: 800px; }

.header-wrap {
  width: 90%;
  margin: 0 auto;
  height: 100%; }

.wraper {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
  min-width: 800px; }

.sections {
  position: relative;
  top: 0;
  height: 100vh;
  width: 90%;
  margin: 0em auto;
  padding: 30px; }

#section-two {
  background-color: wheat; }

#section-three {
  background-color: white; }

#section-four {
  background-color: burlywood;
  height: 70vh; }

#section-five {
  height: 30vh; }

#app-download {
  float: left;
  margin: 1em;
  border: 1px solid #8898aa;
  border-radius: 5px;
  text-align: center;
  padding: 0.5em;
  width: 10%; }

#app-download:hover {
  background-color: #8898aa;
  cursor: pointer;
  color: white;
  text-align: center; }

.sub-section {
  height: inherit;
  position: relative;
  text-align: center; }

#cross-platform-svg {
  width: 70%;
  position: relative;
  top: 50%;
  margin: 0 auto;
  right: 50%;
  transform: translate(70%, -50%); }

#apps-decription {
  height: 100%;
  background-color: white;
  float: left;
  clear: both;
  width: 40%; }

#apps-image {
  width: 60%;
  position: absolute;
  height: inherit;
  clear: both;
  margin: 0 auto;
  float: right; }

.applink {
  margin: 0 auto;
  clear: both;
  border: 2px solid #5f5f5f;
  border-radius: 5px;
  background: white;
  height: 90px;
  width: 250px;
  padding: 5px;
  margin-bottom: 15px; }

.applink:hover {
  cursor: pointer;
  background-color: #e4e8ff; }

.applink-span {
  float: right;
  margin: 5px; }

#applinks {
  width: 70%;
  position: relative;
  top: 50%;
  margin: 0 auto;
  right: 50%;
  transform: translate(70%, -50%); }

.footer-container {
  height: 100%;
  float: right;
  text-align: justify;
  width: 20%; }

.text-color-one {
  color: #8898aa;
  font-size: 15px;
  margin: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: normal;
  text-align: justify;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

h1.text-color-one {
  color: #8898aa;
  font-size: 20px;
  font-weight: bold;
  margin: 25px;
  margin-bottom: 0;
  text-align: justify;
  vertical-align: baseline; }

p.text-color-one:hover {
  color: #32325d;
  cursor: pointer; }

#header-support {
  display: inline-flex;
  float: left; }

#header-support-phone {
  display: inline-flex;
  margin-left: 1.8em; }

#header-support-social-media {
  vertical-align: baseline;
  display: inline-flex; }

.header-supports {
  padding: 1em 0.3em 1em 0.3em;
  color: #8898aa;
  vertical-align: baseline;
  font-weight: normal;
  display: inline-flex;
  margin: 0.5em 0 0.5em 0; }

.link:hover {
  color: #32325d;
  cursor: pointer; }

.feature-container {
  width: 100%;
  height: 100%;
  clear: both; }

.feature-grid {
  height: 100%;
  float: right;
  text-align: justify;
  background-color: yellow;
  width: 25%; }
