@media screen and (min-width: 1200px) {
    $header-font-size: 17px;

    #app-download {
        border-radius: 5px;
        
        text-align: center;
        color: #fff;
        padding: 5px;
        text-align: center;
        vertical-align: middle;
        background: #3ecf8e;
        text-shadow: 0 1px 3px rgba(36,180,126,.4);
        font-weight: bold;
        box-shadow: 0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);
        height: 40px;
        max-width: 120px;
        display: flex;
        justify-content: center; /* align horizontal */
        align-items: center;

        p {
            font-size: $header-font-size - 2;
        }
    }
    
    #app-download:hover {
        cursor: pointer;
        color: white;
        text-align: center;
        transform: translateY(-1px);
        box-shadow: 0 7px 14px rgba(50,50,93,.1),0 3px 6px rgba(0,0,0,.08);
    }

    header.wrap {
        background-color: $white;
        padding: 10px;
        ul {
            display: inline-flex;
            list-style-type: none;
            margin: 0;
            padding: 0;
            margin-right: 40px;
        }

        li {
            color: blueviolet;
            font-weight: bold;
        }

        a {
            color: blueviolet;
            font-weight: bold;
            font-size: $header-font-size;
            padding: 0 0.7em 0 0.7em;
            &:hover{
                color: $rich-black-primary;
                font-weight: bolder;
                cursor: pointer;
            }
        }
    }

    p.header-supports{
        margin: 0;
        padding: 0;
        font-size: $header-font-size;
        color: blueviolet;
    }
}


@media screen and (max-width: 1200px) and (min-width: 700px) {
    $header-font-size: 16px;
    #app-download {
        max-width: 150px;
        text-align: center;
        color: #fff;
        padding: 5px;
        background: #3ecf8e;
        text-shadow: 0 1px 3px rgba(36,180,126,.4);
        font-weight: bold;
        box-shadow: 0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);
        height: 40px;
        max-width: 120px;
        display: flex;
        justify-content: center; /* align horizontal */
        align-items: center;

        p {
            font-size: $header-font-size - 2;
        }
    }
        
    #app-download:hover {
        cursor: pointer;
        color: white;
        text-align: center;
        transform: translateY(-1px);
        box-shadow: 0 7px 14px rgba(50,50,93,.1),0 3px 6px rgba(0,0,0,.08);
    }

    .menu {
        text-align: center;
    }

    header.wrap {
    background-color: $white;
    padding: 10px;

        ul {
            display: inline-flex;
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        li {
            color: blueviolet;
            font-weight: bold;
        }

        a {
            color: blueviolet;
            font-weight: bold;
            font-size: $header-font-size;
            padding: 0 0.7em 0 0.7em;
            &:hover{
                color: $rich-black-primary;
                font-weight: bolder;
                cursor: pointer;
            }
        }
    }

    p.header-supports{
        margin: 0;
        padding: 0;
        text-align: center;
        font-size: $header-font-size;
        color: blueviolet;
    }
}

@media screen and (max-width: 700px) and (min-width: 420px) {
    $header-font-size: 15px;

    .menu {
        text-align: center;
    }

    #app-download {
        border-radius: 5px;
        text-align: center;
        color: #fff;
        margin: 0 auto;
        padding: 5px;
        background: #3ecf8e;
        text-shadow: 0 1px 3px rgba(36,180,126,.4);
        font-weight: bold;
        box-shadow: 0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);
        height: 40px;
        max-width: 120px;
        display: flex;
        justify-content: center; /* align horizontal */
        align-items: center;

        p {
            font-size: $header-font-size - 2;
        }
    }
        
    #app-download:hover {
        cursor: pointer;
        color: white;
        text-align: center;
        transform: translateY(-1px);
        box-shadow: 0 7px 14px rgba(50,50,93,.1),0 3px 6px rgba(0,0,0,.08);
    }

    header.wrap {
        background-color: $white;
        padding: 3px;
        ul {
            display: inline-flex;
            list-style-type: none;
            margin: 0;
            padding: 0;
            text-align: center;
        }

        li {
            color: blueviolet;
            font-weight: bold;
            text-align: center;
        }

        a {
            color: blueviolet;
            font-weight: bold;
            text-align: center;
            font-size: $header-font-size;
            padding: 0 0.7em 0 0.7em;
            &:hover{
                color: $rich-black-primary;
                font-weight: bolder;
                cursor: pointer;
            }
        }
    }

    p.header-supports{
        margin: 0;
        padding: 0;
        text-align: center;
        font-size: $header-font-size;
        color: blueviolet;
    }
}


@media screen and (max-width: 420px) and (min-width: 320px) {
    $header-font-size: 14px;
    .menu {
        text-align: center;
    }

    #app-download {
        border-radius: 5px;
        text-align: center;
        color: #fff;
        margin: 0 auto;
        padding: 5px;
        background: #3ecf8e;
        text-shadow: 0 1px 3px rgba(36,180,126,.4);
        font-weight: bold;
        box-shadow: 0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);
        height: 40px;
        max-width: 120px;
        display: flex;
        justify-content: center; /* align horizontal */
        align-items: center;

        p {
            font-size: $header-font-size - 2;
        }
    }
        
    #app-download:hover {
        cursor: pointer;
        color: white;
        text-align: center;
        transform: translateY(-1px);
        box-shadow: 0 7px 14px rgba(50,50,93,.1),0 3px 6px rgba(0,0,0,.08);
    }

    header.wrap {
        background-color: $white;
        padding: 3px;
        ul {
            display: inline-flex;
            list-style-type: none;
            margin: 0;
            padding: 0;
            text-align: center;
        }

        li {
            color: blueviolet;
            font-weight: bold;
            text-align: center;
        }

        a {
            color: blueviolet;
            font-weight: bold;
            text-align: center;
            font-size: $header-font-size;
            padding: 0 0.7em 0 0.7em;
            &:hover{
                color: $rich-black-primary;
                font-weight: bolder;
                cursor: pointer;
            }
        }
    }

    p.header-supports{
        margin: 0;
        padding: 0;
        text-align: center;
        font-size: $header-font-size;
        color: blueviolet;
    }
}


@media screen and (max-width: 320px) {
    $header-font-size: 13px;

    .menu {
        text-align: center;
    }

    #app-download {
        border-radius: 5px;
        text-align: center;
        color: #fff;
        margin: 0 auto;
        padding: 5px;
        background: #3ecf8e;
        text-shadow: 0 1px 3px rgba(36,180,126,.4);
        font-weight: bold;
        box-shadow: 0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);
        height: 40px;
        max-width: 120px;
        display: flex;
        justify-content: center; /* align horizontal */
        align-items: center;

        p {
            font-size: $header-font-size - 2;
        }
    }
        
    #app-download:hover {
        cursor: pointer;
        color: white;
        text-align: center;
        transform: translateY(-1px);
        box-shadow: 0 7px 14px rgba(50,50,93,.1),0 3px 6px rgba(0,0,0,.08);
    }

    header.wrap {
        background-color: $white;
        padding: 1px;
        ul {
            display: inline-flex;
            list-style-type: none;
            margin: 0;
            padding: 0;
            text-align: center;
        }

        li {
            color: blueviolet;
            font-weight: bold;
            text-align: center;
        }

        a {
            color: blueviolet;
            font-weight: bold;
            text-align: center;
            font-size: 12px;
            padding: 0 0.5em 0 0.5em;
            &:hover{
                color: $rich-black-primary;
                font-weight: bolder;
                cursor: pointer;
            }
        }
    }

    p.header-supports{
        margin: 0;
        padding: 0;
        text-align: center;
        font-size: $header-font-size;
        color: blueviolet;
    }
}



header.wrap {
    background-color: #EAFFFF;
}