header.wrap {
    background-color: $white;
    padding: 10px;
    ul {
        display: inline-flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    li {
        color: $rich-black-primary;
        font-weight: bold;
        margin: 0 0.5em 0 0.5em;
    }

    a {
        color: $orange-primary;
        font-weight: bold;
        &:hover{
            color: $rich-black-primary;
            font-weight: bolder;
            cursor: pointer;
        }
    }
}

p.header-supports{
    margin: 0;
    padding: 0;
    color: $rich-black-primary;
}