$red-primary: rgba(190, 21, 36, 1);
$red-secondary: #8d0837;
$green-primary: rgba(6, 102, 51, 1);
$green-secondary: #054B26;
$white: #fff;
$background-color: $white;
$white-smoke: #EAFFFF;
$orange-primary: rgba(226, 132, 19, 1);
$orange-secondary: #E48F28;
$rich-black-primary: #45455E;
$rich-black-secondary: rgba(0, 0, 34, 1);